.c-badge {
  display: inline-block;
  padding: 0 15px;
  height: 26px;
  line-height: 26px;
  border-radius: 13px;
  border: 1px solid #71ba31;
  color: #71ba31;
  text-align: center;
  font-size: 14px;
}

.c-badge-blue {
  border: 1px solid #6b9bd6;
  color: #6b9bd6;
}

.c-badge-orange {
  border: 1px solid #ffb147;
  color: #ffb147;
}

.c-badge-small {
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  font-size: 12px;
}
