.el-switch__label.is-active {
  color: #13ce66;
}
.el-radio__input.is-checked + .el-radio__label {
  color: #13ce66;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #13ce66;
  background: #13ce66;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #13ce66;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #13ce66;
  background: #13ce66;
}
