.main-record {
  margin-top: 20px;
  padding: 0 16px;
}

.record-item {
  border: 1px solid gray;
  box-shadow: 2px 2px 5px gray;
  padding: 0 18px 0 36px;
  margin-bottom: 16px;
  padding-bottom: 20px;
}
.record-item-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid gray;
}
.record-item-header-left {
  display: flex;
  align-items: center;
}
.record-item-time {
  margin: 0;
  color: #999;
  font-size: 14px;
}
.record-item-url {
  margin-left: 40px;
}
.ispush {
  height: 16px;
  width: 46px;
  margin-left: 12px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: rgb(51, 102, 255);
  background: rgb(184, 227, 255);
  border: 1px solid rgb(15, 102, 255);
  border-radius: 12px;
}
.record-edit {
  width: 100px;
  height: 30px;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  color: rgb(51, 102, 255);
  border: 1px solid rgb(15, 102, 255);
  cursor: pointer;
}
.record-operate {
  display: flex;
  margin-right: 10px;
}
.record-btn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.record-cancel {
  color: rgb(99, 188, 247);
  border: 1px solid rgb(99, 188, 247);
}
.record-save {
  margin-left: 30px;
  color: #fff;
  background: rgb(16, 151, 241);
}

// 图片视频
.record-single-pic {
  width: 100px;
  height: 100px;
}
.record-single-video {
  width: 100px;
  height: 100px;
}

// 编辑
.record-item-content {
  margin: 14px 0;
}
.record-item-media {
  padding-bottom: 20px;
}
.record-item-pic {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  img,
  video {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

// 发布记录中的编辑
.main-content {
  padding-left: 30px;
}
.record-publish-content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 16px;
}
.record-content-tips {
  font-size: 14px;
  font-weight: normal;
  margin-right: 30px;
}
.record-publish-edit-content {
  position: relative;
}
.record-type-content {
  width: 600px;
  height: 140px;
  resize: none;
  border: 1px dashed #ccc;
  border-radius: 12px;
  padding: 10px 10px;
  line-height: 16px;
  outline: none;
}

.record-text-3 {
  position: absolute;
  right: 16px;
  top: 116px;
}

// 上传模块
.record-publish-media {
  display: flex;
  margin-top: 20px;
}
.record-media {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
.record-publish-media-tips {
  line-height: 40px;
  margin-right: 24px;
}
.record-upload-block-btn {
  display: flex;
  align-items: center;
}
.record-upload-btn {
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}
.record-upload-pic {
  margin-right: 30px;
  color: white;
  background: rgb(24, 144, 255);
}
.record-upload-video {
  border: 1px solid #ccc;
}
.record-upload-tips {
  width: 400px;
  margin-top: 20px;
  color: #999;
}

// 设置引导链接
.record-set-link {
  font-size: 0;
}
.set-link-title {
  margin-right: 24px;
  font-size: 14px;
}
.not-set-link,
.set-link-url {
  font-size: 14px;
}

// 设置推送
.record-set-push {
  margin-top: 10px;
  padding-left: 16px;
  padding-bottom: 30px;
}
.record-set-push-tips {
  margin-right: 30px;
}
.record-push-select {
  padding-left: 20px;
  background: url('https://pic.zizaihome.com/990d545a-bcdf-11e9-931c-00163e0c001e.png')
    no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
}
.record-push-select-active {
  background: url('https://pic.zizaihome.com/990d54be-bcdf-11e9-a063-00163e0c001e.png')
    no-repeat;
  background-size: 16px 16px;
}
.record-no-push {
  margin-left: 40px;
}

.no-more-list {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  text-align: center;
  display: none;
}
