.upload-receipt-tip {
  position: relative;
  background-color: #f9fcf6;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
}

.upload-receipt-tip-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  background-image: url('https://pic.zizaihome.com/43040263-7a2c-44a4-8d24-804fd29c1718.png');
  background-size: 100% 100%;
}

.upload-receipt-tip-title {
  font-size: 18px;
}

.upload-receipt-tip-content {
  color: #999999;
  margin-top: 5px;
}

.upload-receipt-download {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 114px;
  height: 40px;
  border-radius: 4px;
  background-color: #7bafef;
  color: #ffffff;
  font-size: 20px;
}
