.detail-unit-container {
  margin-top: 20px;
  border: 1px solid #979797;
}
.detail-unit {
  position: relative;
  width: 100%;
  padding: 20px 0;
}
.detail-unit:nth-child(2n) {
  background-color: #f8faf9;
}
.detail-unit:nth-child(2n + 1) {
  background-color: #ffffff;
}
.detail-unit-inner {
  width: 100%;
  overflow: hidden;
}
.detail-unit-head {
  background-color: #f8faf9 !important;
}
.detail-unit .detail-cell {
  width: 15%;
  float: left;
  padding: 0 10px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #333333;
}
.detail-unit .detail-cell.active {
  color: #70b931;
  font-weight: bold;
}
.detail-unit .detail-cell-name {
  width: 55%;
  text-align: left;
}
.detail-unit .detail-cell-name p {
  margin-bottom: 0;
}
.detail-unit-head .detail-cell {
  color: #000;
  font-size: 20px;
}
.detail-unit-head .detail-cell-name {
  padding-top: 0;
  padding-bottom: 0;
}
.detail-unit-select {
  position: absolute;
  left: 10px;
  top: 21px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 50%;
  background: #a6b4c0;
  color: #ffffff;
}
.detail-unit-select.active {
  background-color: #70b931;
}
.detail-foot .detail-unit-select {
  top: 8px;
}
