.common-title {
  padding-left: 39.6%;
  font-size: 30px;

  line-height: 42px;
  color: #333;
}
.common-desc {
  padding-left: 39.6%;
  font-size: 18px;
  line-height: 28px;
  color: #989898;
  margin-top: 16px;
}

@media (max-width: 500px) {
  .common-title {
    font-size: 18px;
    line-height: 1.4;
  }
  .common-desc {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
  }
}
@media (max-width: 350px) {
  .common-title {
    font-size: 16px;
  }
  .common-desc {
    font-size: 12px;
  }
}
