.btn-green {
  color: #fff;
  background-color: #6fba2c;
  border-color: #6fba2c;
}

.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active {
  color: #fff;
  background-color: #7ed82e;
  border-color: #7ed82e;
}

/* 扁平的 */
.btn-sm-flat {
  line-height: 1.2;
}
