.left0 {
  left: 0 !important;
}
.right0 {
  right: 0 !important;
}
.top0 {
  top: 0 !important;
}
.bottom0 {
  bottom: 0 !important;
}
.left5 {
  left: 5px !important;
}
.right5 {
  right: 5px !important;
}
.top5 {
  top: 5px !important;
}
.bottom5 {
  bottom: 5px !important;
}
.left10 {
  left: 10px !important;
}
.right10 {
  right: 10px !important;
}
.top10 {
  top: 10px !important;
}
.bottom10 {
  bottom: 10px !important;
}
.left15 {
  left: 15px !important;
}
.right15 {
  right: 15px !important;
}
.top15 {
  top: 15px !important;
}
.bottom15 {
  bottom: 15px !important;
}
.left20 {
  left: 20px !important;
}
.right20 {
  right: 20px !important;
}
.top20 {
  top: 20px !important;
}
.bottom20 {
  bottom: 20px !important;
}
