
@btn-green-color: #6FBA2C;
@btn-green-hover-color: #7ED82E;

.btn-green {
  color: #ffffff;
  background-color: @btn-green-color;
  border-color: @btn-green-color;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    color: #ffffff;
    background-color: @btn-green-hover-color;
    border-color: @btn-green-hover-color;
  }
}