
@zzh-pagination-active-color: #6FBA2C;

.zzh-pagination-cell {
  border: 1px solid @zzh-pagination-active-color;
}

.zzh-pagination-cell.active,
.zzh-pagination-cell:hover {
  background-color: @zzh-pagination-active-color;
}

.zzh-pagination-cell-input {
  border: 1px solid @zzh-pagination-active-color;
}