<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />

    <title>component/nav ui</title>
  </head>
  <body>
    <div class="component-nav">
      <header class="component-nav-header">
        <a class="component-nav-logo-container" href="/"
          ><span class="component-nav-logo pull-left"></span
        ></a>
        <div class="component-nav-top-nav">
          <ul class="component-nav-top-nav-right pull-right">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="component-nav-username" data-temple-name="1"
                  >弘法寺</span
                >
                <b class="caret component-nav-caret"></b>
              </a>
              <ul class="dropdown-menu component-nav-logout">
                <li><a href="/">注销</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <a href="/" target="_blank" class="component-nav-help-center">
          <span class="component-nav-help-center-text">帮助中心</span>
          <i class="component-nav-help-center-icon"></i>
        </a>
      </header>
      <aside class="component-nav-aside">
        <div class="component-nav-aside-top" id="component-nav-menu-title">
          <span>基础应用</span>
        </div>
        <ul class="component-nav-menu" id="component-nav-menu">
          ${require('./html/item.html')} ${require('./html/item.html')}
          ${require('./html/item.html')}
        </ul>
        <div
          class="component-nav-aside-top"
          id="zizaicloud-component-nav-menu-title"
        >
          <span>自在云协同</span>
        </div>
        <ul class="component-nav-menu">
          ${require('./html/item.html')} ${require('./html/item.html')}
          ${require('./html/item.html')}
        </ul>
        <div
          class="component-nav-aside-top"
          id="super-component-nav-menu-title"
        >
          <span>增值服务</span>
        </div>
        <ul class="component-nav-menu">
          ${require('./html/item.html')} ${require('./html/item.html')}
          ${require('./html/item.html')}
        </ul>
      </aside>
    </div>
  </body>
</html>
