.tooltip-inner {
  text-align: left;
}
.form-group {
  /*padding: 0.2rem 0.1rem;*/
  position: relative;
  /*overflow: hidden;*/
}
.mgt30 {
  margin-top: 30px !important;
}
.tac {
  text-align: center !important;
}

.modal-body {
  overflow: hidden;
}

.size-modal-body {
  position: relative;
  padding: 15px;
}

.form-group input,
.form-group textarea {
  padding-left: 14px;
  width: 95%;
}

.tip_icon {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  top: 50%;
  margin-top: -0.35rem;
  position: absolute;
  right: 0.1rem;
}

.dpblock {
  display: block;
}

.tip_icon_error {
  /*background-image: url("../img/error.png");*/
  opacity: 1;
}

.upload_wrap {
  /*float: left;*/
  width: 75%;
  /*background-color: rgb(215,151,87);*/

  min-height: 100px;
  position: relative;
}

.upload_wrap .upload_box.ui-state-default:hover {
  background: #e0e0e0;
  opacity: 0.5;
}

.upload_wrap .upload_box.ui-state-default {
  float: left;
  width: 120px;
  height: 100px;
  background: none;
  border: none;
}

.upload_box {
  background-image: url('../../../../images/buddhist/picPlus.png');
  background-size: 100% 100%;
  display: inline-block;
  cursor: pointer;
  margin: 5px 5px 5px 0;
}

.upload_wrap_change {
  background: transparent;
}

a:active {
  color: #000;
}

a:-webkit-any-link {
  color: #000000;
}

label.checkSex {
  background: url('../../../../images/buddhist/unchecked.png') no-repeat left
    center;
  background-size: 5%;
  margin-left: 15px;
  width: 24%;
}

.chooseBox .checkSex {
  background: none;
  background-size: 15%;
  width: auto;
  display: inline-block;
  border: 1px solid #e7e7eb;
  border-radius: 2px;
  padding: 2px;
}

.chooseBox input {
  display: none;
}

.chooseBox input:checked + label {
  border-color: green;
}

.checked1 {
  background-image: url('../../../../images/buddhist/checked.png') !important;
}

.checkSex input {
  opacity: 0;
  width: auto;
}

sup {
  color: #ff0000;
  font-size: 13px;
}

.loggingForm label {
  text-align: left;
}

#sizeBox .bootstrap-select {
  margin-left: 0 !important;
}
.bootstrap-select {
  margin-left: 15px !important;
}

.cancel-icon {
  right: 8%;
  top: -2px;
  font-size: 28px;
}

.img_icon {
  top: 2px;
  right: 42%;
}

.endTime_icon {
  top: 2px;
  right: 33%;
}

.form-control[readonly] {
  background-color: #fff;
}

.form-horizontal .form-group {
  margin-right: 0;
  /*margin-left: 0;*/
}

.chooseBox input {
  width: auto;
}

.chooseBox label {
  margin: 5px;
}

.chooseBox ul {
  list-style: none;
}

.tagbtn {
  cursor: pointer;
}

.city-picker-dropdown {
  left: 15px !important;
}

.city-picker-span > span {
  padding-left: 14px;
}

#imgInfo {
  position: absolute;
  left: 110px;
  width: 350px;
  height: 100px;
  top: 0;
}

#imgInfo p {
  margin-bottom: 8px;
}

/*checkbox框*/
.form-group input[type='checkbox'] {
  display: none;
}

.checkbox {
  background: url('../../../../images/buddhist/unchecked.png') no-repeat center;
  background-size: 60%;
  padding: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

input[type='checkbox']:checked + .checkbox {
  background-image: url('../../../../images/buddhist/checked.png') !important;
}

.form-group input[type='radio'] {
  display: none;
}

.radio {
  background: url('../../../../images/buddhist/unchecked.png') no-repeat center;
  background-size: 60%;
  padding: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.form-group input[type='radio']:checked + .checkbox {
  background-image: url('../../../../images/buddhist/checked.png') !important;
}

.birthday_icon {
  background-image: url('../../../../images/buddhist/glyphicons-46-calendar.png');
  background-position: 95%, 50%;
  background-repeat: no-repeat;
}

.front_birthday_icon {
  background-image: url('../../../../images/buddhist/glyphicons-46-calendar.png');
  background-position: 5%, 50%;
  background-repeat: no-repeat;
}

#sizeBox .ui-state-default {
  background: none;
}

#timeStart {
  width: 70%;
}

#timeLimit {
  width: 70%;
}

.posRel {
  position: relative;
}

.hideEle {
  display: none !important;
}

.modal-tip {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
.spcl-sub-ps-preview {
  width: 50px;
}

#sizeName {
  font-family: 'Microsoft YaHei';
}
#addClassificationItem {
  width: 80%;
  display: inline-block;
}

#addClassificationList {
  margin-left: 5%;
}

#edui-link-Jtarget {
  display: inline-block;
  width: auto;
}

@media (min-width: 1400px) {
  .rePos {
    left: 25px;
  }
}

@media (max-width: 1400px) {
  .spanRePos {
    right: 12% !important;
  }
}

.hideSection {
  opacity: 0.3;
}
.sizePosSelect {
  width: 100px !important;
}
/*规格附言设置模态框*/
#selectSizeAdditionModal,
#dateSizeAdditionModal,
#inputSizeAdditionModal,
#instuctSizeAdditionModal,
#imagesSizeAdditionModal,
#radioSizeAdditionModal {
  z-index: 999999;
}
#sizesAddAddition,
#sizesAddAdditionItem {
  position: absolute;
  left: 25px;
  color: #666;
}
#sizesAddAddition:hover,
#sizesAddAdditionItem:hover {
  background-color: #449d44;
  color: #fff;
}
.dropdown-menu {
  z-index: 9999;
}
.additionType {
  width: 95% !important;
  margin-left: 0 !important;
}
.additionTypes {
  display: block !important;
  height: 34px;
}
.posTitle {
  margin-left: 15px;
}
.btn-green {
  color: #ffffff;
  background-color: #6fba2c;
  border-color: #6fba2c;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active {
  color: #ffffff;
  background-color: #7ed82e;
  border-color: #7ed82e;
}
.underscore-nav {
  position: relative;
  padding-top: 20px;
  overflow: hidden;
}

.underscore-nav-sm {
  padding-top: 14px;
}

.underscore-nav > li {
  float: left;
  display: block;
  color: #555;
  width: auto;
  margin: 0 15px 2px;
  height: 30px;
  list-style: none;
  /*overflow: hidden;*/
  text-align: center;
}

.underscore-nav-sm > li {
  height: 24px;
  margin-right: 0;
}

.underscore-nav-vertical > li {
  float: none;
}

.underscore-nav li a {
  height: 30px;
  font-size: 18px;
  color: #777;
  line-height: 30px;
  padding: 0 15px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.underscore-nav-sm li a {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 10px;
}

.underscore-nav li:hover a,
.underscore-nav li.active a {
  color: #333;
  /*text-shadow: 0 0 1px #999;*/
  border-bottom: 3px solid #6fba2c;
}

.underscore-nav-sm li:hover a,
.underscore-nav-sm li.active a {
  border-bottom: 2px solid #6fba2c;
}
tr > td {
  vertical-align: middle !important;
}
.seletionItemList {
  height: 300px;
  overflow: auto;
  border: 1px solid #666;
  padding: 16px;
}
.print_label {
  margin-right: 35px;
  cursor: pointer;
}
.exception_tip {
  color: #ff9900;
}
.noSelectPrinter {
  overflow: hidden;
}
.printer_div {
  max-width: 100%;
  float: left;
}
.printer_checkbox {
  display: inline !important;
  width: 20px !important;
  vertical-align: middle;
  margin-top: 0px !important;
  cursor: pointer;
}
.printer_content {
  display: inline;
}
.selection_checkbox {
  display: inline !important;
  width: 20px !important;
  vertical-align: middle;
  margin-top: 0px !important;
  cursor: pointer;
}
.selection_content {
  display: inline;
  font-size: 20px;
}
.dimension_code_label {
  cursor: pointer;
  margin-right: 35px;
}
.modal-header {
  padding: 0 !important;
  position: relative;
  width: 100%;
  height: 32px;
  background: #6fba2c;
}
.modal-header h4 {
  margin: 0 !important;
  line-height: 32px;
  padding-left: 12px;
  color: #fff;
}
.modal-header .close {
  line-height: 32px;
  margin-right: 10px;
  margin-top: 0 !important;
  opacity: 0.8 !important;
}
.modal-header .close span {
  color: #fff;
}
.stock_td {
  width: 150px !important;
}
.tip {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url('../../../../images/common/tips.png');
  background-position: 50%, 50%;
  background-repeat: no-repeat;
}
#addCalendarModal .size-modal-body .input-group {
  width: 500px;
  margin: 0 auto;
}
.success_circle_div {
  padding-left: 200px;
}
.success_circle {
  display: inline-block;
  float: left;
  background: url('../../../../images/common/success_circle.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 50px;
  height: 50px;
}
.success_circle_text {
  line-height: 50px;
  margin-left: 10px;
}

.feedback_modal_box_header {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 120px;
  border-right: 1px solid #dde4ec;
  margin-right: 8px;
}
.modal_header {
  padding: 7px 20px;
  text-align: center;
  cursor: pointer;
}
.active_header {
  background-color: #71ba31;
  color: #fff;
  cursor: default;
}
.feedback-type-list {
  display: inline-block;
  width: 150px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
  line-height: 38px;
  font-size: 14px;
}
.feedback-type-list .title {
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
}
.feedback-type-list .item {
  padding-left: 30px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #999;
}
.feedback-type-list .item.active {
  background: #5cb85c;
  color: #fff;
}
.feedback-type-list .item:last-child {
  border-bottom: none;
}
.feedback-img {
  width: 300px;
  height: 450px;
  margin-left: 40px;
  margin-top: 10px;
  vertical-align: top;
}

.default_btn {
  border: 1px solid #398439;
  color: #61b025 !important;
  margin-left: 20px;
  background-color: #fff;
}
.default_btn a {
  color: #61b025 !important;
}

.promotion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  font-family: inherit;
  overflow: hidden;
}

.promotion-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.promotion-pane {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -80px;
  margin-top: -150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.promotion-top {
  position: relative;
  width: 100%;
  height: 32px;
  background: #6fba2c;
}

.promotion-title,
.promotion-close {
  height: 22px;
  line-height: 22px;
  color: #333;
  position: absolute;
  right: 16px;
  top: 12px;
}

.promotion-title {
  float: left;
  margin-left: 20px;
}

.promotion-close {
  float: right;
  cursor: pointer;
}

.promotion-content {
  padding: 40px;
  position: relative;
  overflow: hidden;
}

.promotion-content-container {
  height: 80px;
}

.promotion-content-cell {
  width: 50%;
  height: 100%;
}

.promotion-content-container .introduce,
.promotion-content-container .usage {
  margin-top: 10px;
}

.promotion-content-container p {
  margin-bottom: 0;
  margin-left: 10px;
}

.promotion-content-title,
.promotion-content-action {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.promotion-content-content {
  height: 150px;
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
}

.promotion-content-action a {
  font-size: 13px;
  color: #666666;
  text-underline: none;
  cursor: pointer;
}

.promotion-content-action a.active,
.promotion-content-action a:hover,
.promotion-content-action a:hover.active {
  color: #6fba2c;
}

.promotion-content-action span {
  color: #cccccc;
}

.my_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  font-family: inherit;
  overflow: hidden;
}
.my_modal-pane {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 490px;
  margin-left: -210px;
  margin-top: -150px;
  padding: 30px 0px;
  background: #fff;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.gongde_overview_modal-pane,
.spcl-sub-ps-overview-pane {
  position: fixed;
  left: 66%;
  top: 60%;
  width: 300px;
  padding: 0;
  margin-left: -50px;
  margin-top: -300px;
  background: #fff;
  border-radius: 6px;
  outline: none;
  z-index: 99999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.spcl-sub-ps-overview-pane {
  background-color: transparent;
  top: 310px;
  height: 600px;
}
.gongde_overview_modal-pane img {
  width: 100%;
}
.spcl-sub-ps-overview-pane img {
  width: 100%;
  height: 100%;
}
.my_modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.my_modal h4 {
  text-align: center;
  margin-bottom: 20px;
}
.template_name {
  width: 250px;
  margin: 0 auto;
}
.my_modal .operation {
  text-align: center;
  margin-top: 30px;
}
#confirm_template {
  margin-right: 16px;
}
.promotion-pane-submit {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  height: 220px;
  margin-left: -80px;
  margin-top: -150px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.promotion-content-submit {
  padding: 40px 60px;
  position: relative;
  overflow: hidden;
}
.promotion-close-submit {
  text-align: center;
  margin-top: 50px;
}

/*bootstrap-switch 样式修改*/
.bootstrap-switch {
  border-radius: 20px;
  width: 38px;
  /*固定宽度解决初始化的抖动问题*/
}
.bootstrap-switch-handle-on {
  border-radius: 20px;
  background: #71ba31 !important;
}
.bootstrap-switch-handle-off {
  border-radius: 20px;
  background: #d0d0d0 !important;
}
/*工具样式*/
.c999 {
  color: #999;
}
/*自定义组件*/
.s-textarea-ctnr {
  position: relative;
}
.s-textarea-num-tip {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/*反馈信息的富文本编辑器隐藏掉不必要的操作项*/
/*清除格式、格式刷、纯文本粘贴、字体*/
#myEditor2 .edui-for-removeformat,
#myEditor2 .edui-for-formatmatch,
#myEditor2 .edui-for-pasteplain,
#myEditor2 .edui-for-fontfamily {
  display: none !important;
}
/*自动排版*/
#myEditor2 .edui-for-autotypeset {
  display: none !important;
}
/*全屏*/
#myEditor2 .edui-for-fullscreen {
  display: none !important;
}
/*有序列表*/
#myEditor2 .edui-for-insertorderedlist {
  display: none !important;
}
/*无序列表*/
#myEditor2 .edui-for-insertunorderedlist {
  display: none !important;
}
/*全选*/
#myEditor2 .edui-for-selectall {
  display: none !important;
}
/*清空文档*/
#myEditor2 .edui-for-cleardoc {
  display: none !important;
}
/*清除文档后面的竖线*/
#myEditor2 .edui-for-cleardoc + .edui-separator {
  display: none !important;
}
/*段前、段后、行间距*/
#myEditor2 .edui-for-rowspacingtop,
#myEditor2 .edui-for-rowspacingbottom,
#myEditor2 .edui-for-lineheight {
  display: none !important;
}
/*行间距后面的竖线*/
#myEditor2 .edui-for-lineheight + .edui-separator {
  display: none !important;
}
/*视频、音乐、查询替换、添加图片、添加多张图片*/
#myEditor2 .edui-for-insertvideo,
#myEditor2 .edui-for-music,
#myEditor2 .edui-for-searchreplace,
#myEditor2 .edui-for-zizai_add_image,
#myEditor2 .edui-for-zizai_add_multi_images {
  display: none !important;
}
/*微信一键导入、打开秀米导入*/
#myEditor2 .edui-for-zizai_leadIn_wechat,
#myEditor2 .edui-for-xiumi-connect {
  display: none !important;
}
/**/
/*#myEditor2 . {*/
/*display: none !important;*/
/*}*/

/* zzh-choose-image */
.zzh-choose-image .checkbox {
  background: none;
  width: 100%;
  display: block;
  height: auto;
}

/*统计区域*/
.summary-area-type-container {
}
.summary-area-type-container .s-panel {
  position: relative;
  padding: 50px 10px 10px;
  height: 180px;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  cursor: pointer;
  background-image: url('https://pic.zizaihome.com/85eee1f2-9b86-11e8-9db8-00163e0c001e.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.summary-area-type-container .s-panel-3 {
  padding-top: 10px;
  height: auto;
  background-image: none;
}
.summary-area-type-container .s-panel.active {
  border: 3px solid #75bc36;
}

.summary-area-type-container .s-panel-select-img {
  display: none;
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 30px;
}
.summary-area-type-container .s-panel.active .s-panel-select-img {
  display: block;
}
.summary-area-type-container .s-panel-icon {
  position: absolute;
  top: 10px;
  left: -8px;
  width: 80px;
  height: 30px;
  line-height: 26px;
  padding: 0 10px 0;
  color: #fff;
  background-image: url('https://pic.zizaihome.com/bf402b82-9b86-11e8-9db8-00163e0c001e.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.summary-area-type-container .s-panel-item {
  float: left;
  width: 33%;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.summary-area-type-container .s-panel-item:nth-child(2) {
  border-left: 2px dotted #7d9ec8;
  border-right: 2px dotted #7d9ec8;
}
.summary-area-type-container .s-panel-special-text {
  color: RGBA(251, 185, 15, 1);
}
.summary-area-type-container .s-panel-1 {
}
.summary-area-type-container .s-panel-2 {
}
.summary-area-type-container .s-panel-title {
  color: #ddd;
}

.summary-area-type-container .s-panel-bar-container {
  height: 8px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
}
.summary-area-type-container .s-panel-bar {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: #ffb937;
  border-radius: 8px 0 0 8px;
}
.summary-area-type-container .s-panel-bar-icon {
  position: absolute;
  top: -5px;
  left: 30%;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  border-radius: 8px;
  background-color: #ffb937;
  font-size: 12px;
  color: #fff;
}
