.act-3 {
  padding-top: 136px;
  padding-bottom: 195px;
}

@media (max-width: 500px) {
  .act {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .act .text-1 {
    font-size: 18px;
    line-height: 1.4;
  }
  .act .text-2,
  .act .text-3 {
    font-size: 14px;
    line-height: 30px;
    margin-top: 15px;
  }
  .act-1-left,
  .act-2-right {
    width: 100%;
    padding-top: 280px;
  }
  .act-1-right,
  .act-2-left {
    position: absolute;
    left: 20%;
    width: 60%;
    top: 0;
  }
}
