.act img {
  width: 100%;
}
.act .text-1 {
  font-size: 30px;
  line-height: 42px;

  color: #333;
}
.act .text-2 {
  font-size: 22px;
  line-height: 30px;
  color: #989898;
  margin-top: 26px;
}
.act .text-3 {
  font-size: 22px;
  line-height: 36px;
  color: #989898;
  margin-top: 26px;
}
