
.content{
  padding: 60px 60px;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url(https://pic.zizaihome.com/a45cad7c-8006-11e8-b517-00163e0c001e.jpg);
}

.greeting{
  float: left;
  color: #fff;
  font-size: 32px;
  font-family: "楷体";
  padding:30px 20px;
  background-color: rgba(0,0,0,0.2);

  .text-1 {
    float: left;
    padding: 30px 10px;
  }

  .text-1-1 {
    width: 64px;
  }

  .text-1-2 {
    width: 32px;
    font-size: 16px;
  }
}


@media (min-width: 1290px) {
  .content{
    background-image: url(https://pic.zizaihome.com/b42568a2-8006-11e8-b517-00163e0c001e.png);
    padding: 60px 60px;
  }

}
@media (min-width: 1400px) {
  .content{
    background-image: url(https://pic.zizaihome.com/b42568a2-8006-11e8-b517-00163e0c001e.png);
    padding: 90px 80px;
  }

}
@media (min-width: 1620px){
  .background-image{
    background-image: url(https://pic.zizaihome.com/bfdd683e-8006-11e8-b517-00163e0c001e.jpg);
    padding: 100px 80px;
  }
}
