.content-container {
  padding: 20px;
  position: relative;
}

.content-container-inner {
  padding: 50px;
  min-width: 850px;
  min-height: 500px;
  overflow: hidden;
}

.content-cell {
  float: left;
  width: 334px;
  height: 334px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  margin-right: 44px;
  margin-bottom: 44px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.content-cell-title {
  display: block;
  width: 100%;
  height: 111px;
  text-align: center;
  padding: 0 20px;
  line-height: 37px;
  font-size: 26px;
  color: #71ba31;
  overflow: hidden;
}
.content-cell-cover {
  width: 100%;
  height: 93px;
  background-image: url('../../../../images/hardware/donate/cover.png');
  background-repeat: no-repeat;
  background-size: 93px 93px;
  background-position: center center;
}
.content-cell-btn {
  display: block;
  width: 186px;
  margin: 37px auto 0 auto;
  height: 63px;
  line-height: 61px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #71ba31;
  font-size: 18px;
  color: #71ba31;
}
.content-cell-btn,
.content-cell-btn:hover,
.content-cell-btn:active,
.content-cell-btn:focus {
  color: #71ba31;
  text-decoration: none;
}
