main {
  padding: 15px;
}
.tac {
  text-align: center !important;
}
.vam {
  vertical-align: middle !important;
}
.fl {
  float: left;
}
.myCheckboxLabel {
  cursor: pointer;
}
.myCheckbox {
  display: none;
}
table > tbody > tr > td {
  vertical-align: middle !important;
}
.orderCheck {
  cursor: pointer !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #fff;
  background-color: #6fba2c;
}

.nav-tabs > li + li {
  margin-left: 0;
}

.nav-tabs > li {
  width: 18%;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  background-color: #fff;
  margin-right: 10px;
}
/*覆盖bootstrap样式*/
.nav-tabs > li > a {
  border-radius: 0 !important;
  margin-right: 0 !important;
}
main a,
main a:hover,
main a:focus {
  color: #000;
}
#screenBox {
  padding: 14px 0;
}

#my-tabs {
}

.nav-tabs > li {
  border-bottom-width: 0;
}

/*分页*/
.row {
  margin-right: 0;
  margin-left: 0;
}

.footers {
  padding: 10px 0;
  border: 1px solid #e7e7eb;
  margin: 0 15px;
}

.productImg {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  margin-right: 5px;
}
/*佛事头头*/
td.nowrapBox p {
  margin-bottom: 2px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.pro-detail {
  cursor: pointer;
}
#orderDetailBox p span:first-child {
  font-weight: bolder;
}
/*修改模态框样式*/

@media screen and (min-width: 1900px) {
  .modal-open .modal {
    overflow-y: hidden;
  }
}
@media screen and (max-width: 1290px) {
  .tiaozheng {
    text-align: center;
  }
}
.modal-body {
  position: relative;
  padding: 15px;
}
.form-group {
  position: relative;
}
.no-select-printer-container {
  max-width: 100%;
}
.printer-checkbox {
  display: inline !important;
  width: 20px !important;
  vertical-align: middle;
  margin-top: 0 !important;
  cursor: pointer;
}
.printer-name {
  display: inline;
}
.dimension-code-label {
  cursor: pointer;
  margin-right: 12px;
}
.dimension-code-label > input[type='checkbox'],
input[type='radio'] {
  display: none;
}
.form-group input,
.form-group textarea {
  padding-left: 14px;
  width: 95%;
}
input[type='checkbox']:checked + .checkbox,
input[type='radio']:checked + .checkbox {
  background-image: url(../../../../images/buddhist/checked.png);
}
.checkbox,
.radio {
  background: url(../../../../images/buddhist/unchecked.png) no-repeat center;
  background-size: 60%;
  padding: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.exception-tip {
  color: #f90;
}
.modal-dialog {
  width: 36%;
}
.modal-header {
  padding: 0 !important;
  position: relative;
  width: 100%;
  height: 32px;
  background: #6fba2c;
}
.modal-header h4 {
  margin: 0 !important;
  line-height: 32px;
  padding-left: 12px;
  color: #fff;
}
.modal-header .close {
  line-height: 32px;
  margin-right: 10px;
  margin-top: 0 !important;
  opacity: 0.8 !important;
}
.modal-header .close span {
  color: #fff;
}
canvas {
  vertical-align: middle !important;
}
#feed_back_pic {
  cursor: pointer;
}

.upload_wrap {
  /*float: left;*/
  /*width: 75%;*/
  /*background-color: rgb(215,151,87);*/
  /*min-height: 100px;*/
  position: relative;
}

.upload_wrap .upload_box.ui-state-default:hover {
  background: #e0e0e0;
  opacity: 0.5;
}

.upload_box,
.upload_box:hover,
.upload_box:focus {
  color: #73bc32;
}

.upload_wrap_change {
  background: transparent;
}
.picture {
  padding: 0;
}
.modal-tip {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}
.breakLine {
  word-break: normal;
  width: auto;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  /*overflow: hidden ;*/
}
.single_info {
  overflow: hidden;
}
.postScriptImage {
  width: 150px;
  height: 120px;
  cursor: pointer;
  margin-right: 15px;
  float: left;
}

.postScriptImage:nth-child(2) {
  clear: both;
}

.defaultSort {
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}
.unsort {
  background-image: url('../../../../images/common/unsortIcon.png');
}
.asc {
  background-image: url('../../../../images/common/ascIcon.png');
}
.desc {
  background-image: url('../../../../images/common/descIcon.png');
}
.scheduled-tab {
  border: none !important;
}
.image-cell {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}
.image-cell img {
  width: 100%;
  height: 100%;
}
.image-cell-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
/*设为已处理Modal样式*/
#dispose-order-modal .modal-header {
  border-radius: 6px 6px 0 0;
}
#dispose-order-modal .upload-button {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  background: url(../../../../images/temple/image-add.png) no-repeat;
  background-size: contain;
}
#dispose-order-modal .file-upload {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  cursor: pointer;
}
/*隐藏ueditor的工具条*/
.edui-editor-toolbarbox {
  display: none !important;
}
/*默认z-index为1005,设为已处理的modal为1050*/
.edui-default {
  z-index: 1051;
}
