.dialog-receipts-content {
  padding: 20px 0 10px 0;
}
.dialog-receipts-row {
  position: relative;
  float: left;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 10px;
}
.dialog-receipts-row img {
  height: 100%;
}
.dialog-receipts-row-delete {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  background-image: url('https://pic.zizaihome.com/99afe6f9-a7cc-4def-83fd-1c3a4b088d68.png');
  background-size: 100% 100%;
}

.dialog-receipts-add {
  position: relative;
  height: 100px;
  background-size: 100% 100%;
  cursor: pointer;
}
