.add-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.add {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 650px;
  height: 480px;
  margin-left: -325px;
  margin-top: -240px;
  border-radius: 3px;
  background-color: #fff;

  .head-1 {
    position: relative;
    height: 38px;
    line-height: 38px;
    background-color: #71ba31;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 20px;
    color: #fff;
    padding-left: 20px;
  }

  .close-1 {
    position: absolute;
    top: 10px;
    right: 18px;
    width: 18px;
    height: 18px;
    background-image: url('https://pic.zizaihome.com/0661ef4e-ec79-11e8-a911-00163e0c001e.png');
    background-size: 100% 100%;
  }

  .body-1 {
    margin-top: 10px;
    padding: 0 15px;
  }

  .tip-1 {
    width: 275px;
    padding: 6px 10px;
    border-radius: 2px;
    border: 1px solid #b8e986;
    background-color: #f7ffed;
    color: #989898;
  }

  .search-1 {
    float: right;
    width: 230px;
    margin-top: 10px;

    .form-control {
      border-color: #b8e986;
    }

    .input-group-addon {
      color: #fff;
      background-color: #71ba31;
      border-color: #b8e986;
    }
  }

  .list-0-1 {
    margin-top: 20px;

    .row-0-1 {
      height: 55px;
      border-radius: 2px;
      border: 1px solid #e5e5e5;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }

    .cell-0-1,
    .cell-0-2 {
      float: left;
      width: 50px;
      line-height: 55px;
      text-align: center;
      color: #989898;
    }

    .check-0-1 {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #979797;
      position: relative;
      top: 2px;

      &.active {
        background-color: #71ba31;
        border-color: #71ba31;
      }

      &.disabled {
        background-color: #e5e5e5;
        border-color: #e5e5e5;
      }
    }

    .cell-0-2 {
      width: 80px;
      text-align: left;
    }

    .cell-0-3 {
      float: left;
      display: block;
      width: 320px;
      height: 100%;
      text-align: left;
    }

    .cell-0-4 {
      float: right;
      width: 125px;
      text-align: center;

      .c-badge {
        margin-top: 15px;
      }
    }
  }

  .page-0-1 {
    margin-top: 20px;
  }

  .action-1 {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
  }

  .btn-1 {
    width: 110px;
    height: 36px;
    border-radius: 5px;
    background-color: #71ba31;
    color: #fff;
    font-size: 18px;

    &.disabled {
      background-color: #989898;
    }
  }

  .common-no-data {
    padding: 60px 0;
  }
}
