
.zzh-choose-image-mg-t-10 {
    margin-top: 10px;
}
.zzh-choose-image-mg-t-30 {
    margin-top: 30px;
}

.zzh-choose-image-btn-green,
.zzh-choose-image-btn-green:hover,
.zzh-choose-image-btn-green:focus,
.zzh-choose-image-btn-green.focus,
.zzh-choose-image-btn-green:active,
.zzh-choose-image-btn-green.active {
    color: #ffffff;
    background-color: #6FBA2C;
    border-color: #7ED82E;
}

.zzh-choose-image-ok {
    padding-left: 30px;
    padding-right: 30px;
}
.zzh-choose-image-add-ok {
    padding-left: 20px;
    padding-right: 20px;
}

.zzh-choose-image-clean {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

/* 形如下划线的导航 */
.zzh-choose-image-tab {
    position: relative;
    padding-top: 20px;
    overflow: hidden;
}
/* 小尺寸 */
.zzh-choose-image-tab-sm {
    padding-top: 14px;
}
.zzh-choose-image-tab > li {
    float: left;
    display: block;
    color: #555;
    width: auto;
    margin: 0 15px 2px;
    height: 30px;
    list-style: none;
    /*overflow: hidden;*/
    text-align: center;
}
.zzh-choose-image-tab-sm > li {
    height: 24px;
    margin-right: 0;
}
/* 垂直导航 */
.zzh-choose-image-tab-vertical > li {
    float: none;
}
.zzh-choose-image-tab li a {
    height: 30px;
    font-size: 18px;
    color: #777;
    line-height: 30px;
    padding: 0 15px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.zzh-choose-image-tab-sm li a {
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
}
.zzh-choose-image-tab li:hover a, .zzh-choose-image-tab li.active a {
    color: #333;
    /*text-shadow: 0 0 1px #999;*/
    border-bottom: 3px solid #6FBA2C;
}
.zzh-choose-image-tab-sm li:hover a, .zzh-choose-image-tab-sm li.active a {
    border-bottom: 2px solid #6FBA2C;
}

.zzh-choose-image .left-part-foot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.zzh-choose-image-no-data {
    line-height: 370px;
    text-align: center;
    color: #6FBA2C;
    font-size: 24px;
}