.zzh-promotion {
  .content-1 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px 15px 0 15px;
  }

  .desc-1 {
    position: relative;
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-radius: 6px;
    border: 1px solid #7ed321;
    background-color: #ebf7de;
    color: #989898;
    font-size: 17px;
    padding-left: 40px;

    .icon-1 {
      position: absolute;
      left: 7px;
      top: 9px;
      width: 26px;
      height: 26px;
      background-image: url('https://pic.zizaihome.com/b25a41f2-6af6-11e8-b0a0-00163e0c001e.png');
      background-size: 100% 100%;
    }
  }

  &.zzh-promotion-hide-desc .desc-1 {
    display: none;
  }
}
