.zzh-promotion {
  .display-2 {
    width: 100%;
    padding: 100px 30px 0 30px;
    overflow: hidden;

    .left-1 {
      float: left;
      width: 360px;
      height: 40px;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    .right-1 {
      float: right;
      width: 126px;
      height: 40px;
      font-size: 18px;
      color: #fff;
      border-radius: 20px;
      background-color: #6fba2c;
    }
  }
}
