.detail {
  position: relative;
  width: 854px;
  margin: -34px auto 0 auto;
  background-color: #ffffff;
  box-shadow: 0 9px 40px #a8a8a8;
  padding-top: 50px;
  padding-bottom: 150px;
}
.detail .decorate-1,
.detail .decorate-2 {
  position: absolute;
  top: 14px;
  width: 70px;
  height: 70px;
}
.detail .decorate-1 {
  left: 12px;
}
.detail .decorate-2 {
  right: 12px;
}
.detail .swiper-container {
  margin-top: 100px;
}

@media (max-width: 500px) {
  .detail {
    width: 100%;
    margin-top: -60px;
    padding-bottom: 50px;
  }
  .detail .decorate-1,
  .detail .decorate-2 {
    display: none;
  }
  .detail .swiper-container {
    margin-top: 40px;
  }
}
