.swiper-pagination {
  margin-top: 40px;
  position: relative;
}
.swiper-pagination-bullet {
  width: 32px;
  height: 27px;
  background-color: transparent;
  opacity: 1;
  background-image: url('https://pic.zizaihome.com/805410ec-067f-11e8-8081-00163e0c001e.png');
  background-size: 100% 100%;
}
.swiper-pagination-bullet-active {
  background-image: url('https://pic.zizaihome.com/97212b20-067f-11e8-83c7-00163e0c001e.png');
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}
