
.common-delete {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  color: pink;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
}