

@color-1: #f5f5f5;
@color-2: #979797;
@color-3: #F8FAF9;
@color-4: #71BA31;
@color-5: #ECEEF1;
@color-6: #DDE4EC;
@color-7: #70BA2C;


@border-1: 1px solid @color-2;
@border-2: 1px solid @color-5;
@border-3: 1px solid @color-6;


@size-100-100: 100% 100%;


@border-radius-1: 4px;