:global {
  body {
    background-color: #f4f7f7;
  }
  #root {
    position: relative;
    margin-left: 206px;
    padding: 20px;
  }
  a {
    color: #2ecc40;
    &:hover {
      color: #2ecc40;
      text-decoration: none;
    }
  }
}
