@zzh-pagination-active-color: #6fba2c;

.zzh-pagination .cell-0-1 {
  border: 1px solid @zzh-pagination-active-color;
}

.zzh-pagination .cell-0-1.active,
.zzh-pagination .cell-0-1:hover {
  background-color: @zzh-pagination-active-color;
}

.zzh-pagination .input-0-1 {
  border: 1px solid @zzh-pagination-active-color;
}
