main {
  padding-bottom: 33px !important;
}
main .tip {
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 30px;
}
main .tip h3 {
  position: relative;
  padding-left: 14px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  margin-bottom: 0px;
  color: #333;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}
main .tip h3 .h-decorate {
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: #154d97;
  left: 2px;
  top: 3px;
}

main nav .nav2 {
  position: relative;
}
.nav2 div {
  font-size: 18px;
  color: #154d97;
}
.nav3 div,
.nav1 div {
  font-size: 18px;
  color: #aaaaaa;
}
.nav3 .step,
.nav1 .step {
  width: 35px;
  height: 35px;
  margin: 0px auto 14px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #cccccc;
  color: #fff;
}
.nav2 .step-2 {
  width: 45px;
  height: 45px;
  margin: 0 auto 9px;
  line-height: 45px;
  color: #fff;
  font-size: 22px;
  background-image: url('https://pic.zizaihome.com/907e9d80-6824-11ea-a71d-00163e060b31.png');
  background-size: cover;
}

main .form {
  margin: 16px 16% 40px 16%;
}
main .form .templeForm {
  margin-left: 0px;
  margin-right: 0px;
}
main .form .control-label {
  width: 18%;
  text-align: left;
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 0px;
  font-weight: 500;
  font-size: 18px;
  color: #666;
}
main .form .templeValue {
  width: 82%;
  padding: 0px;
}
main .form .templeValue p {
  color: #999;
  font-size: 16px;
  margin: 5px 0px;
}
main .form .formName {
  padding-left: 4px;
  padding-right: 0px;
}
main .form .form-control {
  font-size: 20px;
  font-family: 'Microsoft YaHei';
  color: #343535;
  background-color: #fff;
  height: 36px;
}
main .form .frozen {
  background-color: #e9e9e9;
}
main .tip2 h3 {
  position: relative;
  padding-left: 18px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  margin-bottom: 16px;
  color: #333;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
}
main .tip2 h3 .h-decorate {
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: #154d97;
  left: 4px;
  top: 3px;
}
#templeVertifica {
  width: 80%;
  display: inline-block;
}
main .vertifica {
  background-color: #be956e;
  color: #fff;
  width: 18%;
  border: none;
  padding: 5px 0px 3px 0px;
  margin-left: 1%;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  vertical-align: top;
  border-radius: 4px;
}
main input[type='radio'] {
  display: none;
  cursor: pointer;
}
main .checkbox {
  background-image: url('../../../images/register/group-10.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  padding: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
#isLegal {
  margin-right: 45px;
  margin-left: 36px;
}
input[type='radio']:checked + .checkbox {
  background-image: url('https://pic.zizaihome.com/30655fe0-682b-11ea-a55c-00163e060b31.png') !important;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
input[type='radio']:checked + span {
  color: #9f383d;
}
.showPassword {
  position: absolute;
  top: 6px;
  right: 16px;
  background-image: url(../../../images/register/showPassword.png);
  background-repeat: no-repeat;
  width: 30px;
  cursor: pointer;
  height: 25px;
}
.hidePassword {
  position: absolute;
  top: 6px;
  right: 16px;
  background-image: url('https://pic.zizaihome.com/756aa28a-6501-11ea-8ded-00163e060b31.png');
  background-repeat: no-repeat;
  background-size: 22px 25px;
  width: 30px;
  cursor: pointer;
  height: 25px;
}
