.content-container {
  padding: 20px 50px;
  position: relative;
}
.content-container-inner {
  min-width: 900px;
}
.content-nav {
  padding: 10px 0;
}
.content-nav span,
.content-nav a {
  font-size: 16px;
  line-height: 30px;
}
.content-nav-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url('/static/images/wall/set/house.png');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -4px;
}
