.pwdTip {
  width: 100%;
  margin: 100px auto;
  margin-top: -20px;
}
.pwdTip h3 {
  font-family: 'Microsoft YaHei';
  line-height: 52px;
  background-color: #f4f5f9;
  font-size: 16px;
  padding: 0px 30px;
  font-weight: 600;
}
.pwdList {
  width: 40%;
  margin: 0 auto;
}
.col-sm-9 {
  padding-left: 0;
}
.pwdRow {
  overflow: hidden;
}
.pwdRow label {
  color: #000;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 16px;
}
#phoneNumber {
  font-size: 14px;
  height: 34px;
  border: 1px solid #aaa;
}
#shortMessage {
  width: 62%;
  height: 34px;
  border: 1px solid #aaa;
}
#newPwd,
#affirmNewPwd {
  border: 1px solid #aaa;
}
#getVertifiCode {
  width: 30%;
  margin-left: 5%;
  background-color: #0d7652;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  height: 34px;
  line-height: 34px;
  outline: 0;
  font-size: 14px;
}
#resetPwd {
  width: 238px;
  height: 46px;
  display: block;
  margin: 0px auto;
  margin-top: 62px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: #0d7652;
  border: solid 1px #979797;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.newPwd div {
  margin: 0 auto;
  text-align: center;
}
.newPwd .tip,
.newPwd .tip2 {
  font-size: 16px;
  margin-top: 10px;
}
main .reSignIn {
  width: 338px;
  height: 56px;
  margin-top: 52px;
  margin-bottom: 160px;
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #0d7652;
  color: #0d7652;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Microsoft YaHei';
}
main .icon3 {
  width: 100px;
  height: 100px;
  margin-top: 150px;
  margin-bottom: 42px;
  background-image: url('../../../images/register/ic-check-green.png');
  background-repeat: no-repeat;
  background-position: center;
}
