.brand .menu-1-item {
  float: left;
  margin-left: 80px;
}
.brand .menu-1-item:first-child {
  margin-left: 0;
}
.brand .menu-1-item-title {
  font-size: 20px;

  color: #ffffff;
}
.brand .menu-1-item-desc {
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  margin-top: 7px;
}
