.main-filter {
  margin-top: 20px;
  overflow: hidden;

  .text-1 {
    float: left;
    font-size: 20px;
    line-height: 34px;
  }

  .container-1 {
    float: left;
    position: relative;
    width: 180px;
    height: 34px;
    margin-left: 10px;

    input {
      padding-right: 34px;
    }
  }

  .icon-1 {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 20px;
    height: 20px;
    background-image: url('https://pic.zizaihome.com/4ffea886-2e65-11e8-b78b-00163e0c001e.png');
    background-size: @size-100-100;
  }

  .btn-1 {
    float: left;
    margin-left: 10px;
  }

  .btn-2 {
    float: right;
  }
}
