
.main-nav {
  font-size: 20px;

  a {
    color: @color-4;
  }

  .icon-1 {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 12px;
    height: 19px;
    background-image: url("https://pic.zizaihome.com/e8d936dc-2e62-11e8-b78b-00163e0c001e.png");
    background-size: @size-100-100;
    margin: 0 15px;
  }
}