
.main-detail-cover {
  width: 100%;

  .container-0-1 {
    float: left;
    overflow: hidden;
  }

  .item-0-1 {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .item-0-1 .common-delete {
    display: none;
  }

  .item-0-1:hover .common-delete {
    display: block;
  }

  .btn-0-2 {
    float: left;
    margin-left: 35px;
    width: 100px;
    height: 100px;
    background-image: url("https://pic.zizaihome.com/0f919be8-308e-11e8-b78b-00163e0c001e.png");
    background-size: @size-100-100;
  }

  .text-0-1 {
    font-size: 16px;
    color: @color-2;
    margin-top: 40px;
  }
}