.add-box {
  position: relative;
  padding: 20px 20px 20px 140px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.add-box-mark {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 100px;
  margin-top: -59px;
}

.add-box-mark-2 {
  position: absolute;
  left: 32px;
  top: 50%;
  width: 76px;
  margin-top: -45px;
}

.add-box-cell {
  display: inline-block;
  width: 300px;
  padding: 10px;
}

.add-box-plus,
.add-box-minus {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  background-color: #409eff;
  color: #fff4e9;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.add-box-minus {
  background-color: #f56c6c;
}

.batch-row {
  position: relative;
  padding: 80px 160px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
}

.batch-row-mark {
  position: absolute;
  left: 0;
  width: 160px;
  text-align: center;
  color: #1890ff;
  top: 50%;
  margin-top: -38px;

  img {
    width: 50px;
  }
}

.batch-row-act {
  position: absolute;
  right: 0;
  width: 160px;
  text-align: center;
  top: 50%;
  margin-top: -20px;
}

.upload-excel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.update-box-cell {
  width: 100%;
  padding: 10px 40px;
}

.print-task-sec {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
}

.print-task-row {
  position: relative;
  padding: 15px 200px 15px 0;
  border-top: 1px solid #eeeeee;

  &:first-child {
    border-top: 0;
  }
}

.print-task-row-detail {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2ecc40;
}
