.main-content {
  padding-left: 30px;
}
.publish-content {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 16px;
}
.content-tips {
  font-size: 14px;
  font-weight: normal;
  margin-right: 30px;
}
.type-content {
  width: 600px;
  height: 140px;
  resize: none;
  border: 1px dashed #ccc;
  border-radius: 12px;
  padding: 10px 10px;
  line-height: 14px;
  outline: none;
}

.text-3 {
  position: absolute;
  left: 640px;
  top: 200px;
}

// 上传模块
.publish-media {
  display: flex;
  margin-top: 40px;
}

.publish-media-tips {
  line-height: 40px;
  margin-right: 24px;
}
.upload-block-btn {
  display: flex;
}
.upload-btn {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
}
.upload-pic {
  margin-right: 30px;
  color: white;
  background: rgb(24, 144, 255);
}
.upload-video {
  border: 1px solid #ccc;
}
.upload-tips {
  width: 400px;
  margin-top: 20px;
  color: #999;
}

// 设置推送
.set-push {
  margin-top: 60px;
  padding-left: 16px;
}
.set-push-tips {
  margin-right: 30px;
}
.push-select {
  padding-left: 20px;
  background: url('https://pic.zizaihome.com/990d545a-bcdf-11e9-931c-00163e0c001e.png')
    no-repeat;
  background-size: 16px 16px;
  cursor: pointer;
}
.push-select-active {
  background: url('https://pic.zizaihome.com/990d54be-bcdf-11e9-a063-00163e0c001e.png')
    no-repeat;
  background-size: 16px 16px;
}
.no-push {
  margin-left: 40px;
}

// 保存
.save {
  width: 160px;
  height: 40px;
  margin: 100px 0 0 200px;
  line-height: 40px;
  text-align: center;
  background: rgb(24, 144, 255);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
