main .tip {
  margin-left: 56px;
  margin-top: 20px;
}
main .tip h3 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  margin-right: 56px;
  margin-bottom: 0px;
  color: #333;
  font-family: 'Microsoft YaHei';
  border-bottom: solid 1px #ccc;
}
.nav2 .step,
.nav1 .step {
  width: 35px;
  height: 35px;
  margin: 0px auto 14px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #cccccc;
  color: #fff;
}
.nav3 .step-3 {
  width: 45px;
  height: 45px;
  margin: 0 auto 9px;
  line-height: 45px;
  color: #fff;
  font-size: 22px;
  background-image: url('https://pic.zizaihome.com/907e9d80-6824-11ea-a71d-00163e060b31.png');
  background-size: cover;
}

main nav {
  border-right: none;
}
main .form {
  margin: 16px 51px 40px 51px;
}
main .form .templeForm {
  margin-left: 0px;
  margin-right: 0px;
}
main .form .control-label {
  width: 12%;
  text-align: left;
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 0px;
}
main .uploadBox {
  margin: 0 auto;
  margin-top: 40px;
  width: 87%;
}
.uploadBox .uploadHead {
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
}
.uploadBox .uploadHead h3 {
  margin: 0;
  margin-bottom: 6px;
  font-size: 20px;
  color: #333;
  font-weight: 500;
  line-height: 28px;
  font-family: 'Microsoft YaHei';
}
.uploadBox .uploadHead p {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  color: #888;
}
.uploadData {
  margin-top: 12px;
}
.uploadData .uploadButton {
  position: relative;
  width: 31.9%;
  height: 260px;
  display: inline-block;
}
.uploadButtonInner {
  position: absolute;
  top: 36%;
  left: 36%;
  padding: 12px 18px;
  border: none;
  color: #999999;
  background-color: #fff;
  border: 1px dashed #999;
  border-radius: 4px;
  font-weight: bold;
}
.uploadData .uploadImg {
  width: 32%;
  height: 260px;
  display: inline-block;
  background-color: #f0f0f0;
  margin-right: 30px;
  overflow: hidden;
}
.uploadData .uploadImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.uploadData .uploadExample {
  width: 32%;
  height: 260px;
  display: inline-block;
}
.uploadData .uploadExample1 {
  width: 32%;
  height: 260px;
  display: inline-block;
  background-image: url('https://pic.zizaihome.com/f7873d10-6726-11ea-b696-00163e060b31.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.uploadData .uploadExample2 {
  width: 32%;
  height: 260px;
  display: inline-block;
  background-image: url('../../../images/register/group2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.uploadData .uploadExample3 {
  width: 32%;
  height: 260px;
  display: inline-block;
  background-image: url('../../../images/register/group3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.uploadData .uploadExample4 {
  width: 32%;
  height: 260px;
  display: inline-block;
  background-image: url('../../../images/register/group4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.uploadOthersData {
  margin-top: 12px;
}
.uploadOthersData .uploadButton {
  position: relative;
  width: 31.9%;
  height: 260px;
  margin-right: 10px;
  display: inline-block;
}
.uploadOthersData button {
  position: absolute;
  top: 36%;
  left: 36%;
  padding: 12px 18px;
  border: none;
  background-color: #72cdbf;
  color: #fff;
}
.uploadOthersData .uploadImg {
  width: 32%;
  height: 260px;
  display: inline-block;
  background-color: #f0f0f0;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
}
.uploadOthersData .uploadImg:hover > .deleteOthersImg {
  opacity: 1;
}
.uploadOthersData .uploadImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.deleteOthersImg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  cursor: pointer;
  background-image: url(../../../images/common/big_delete.png);
  background-position: center;
  background-repeat: no-repeat;
}

.imgButton {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
