.content-2 {
  margin-top: 20px;

  .btn-group > .btn {
    width: 150px;
    height: 32px;
    border: none;
    text-align: right;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      box-shadow: none;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  .dropdown-menu a {
    cursor: pointer;
  }
}

.filter-1 {
  height: 32px;
}

.search-1 {
  position: relative;
  float: right;
  width: 240px;
  height: 32px;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 20px;
  padding-right: 64px;

  .input-1 {
    width: 100%;
    height: 100%;
    padding: 0 10px;

    &::-webkit-input-placeholder {
      color: #989898;
    }
  }

  .btn-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #70ba2c;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
