main {
  padding-bottom: 30px !important;
}
main .tip {
  margin: 40px 15% 20px 15%;
}
main .tip h3 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  font-family: 'Microsoft YaHei';
}

main nav .nav1 {
  position: relative;
}
.nav1 div {
  font-size: 18px;
  color: #154d97;
}
.nav3 div,
.nav2 div {
  font-size: 18px;
  color: #aaaaaa;
}
.nav3 .step,
.nav2 .step {
  width: 35px;
  height: 35px;
  margin: 0px auto 14px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #cccccc;
  color: #fff;
}
.nav1 .step-1 {
  width: 45px;
  height: 45px;
  margin: 0 auto 9px;
  line-height: 45px;
  color: #fff;
  font-size: 22px;
  background-image: url('https://pic.zizaihome.com/907e9d80-6824-11ea-a71d-00163e060b31.png');
  background-size: cover;
}

main .uploadRow {
  overflow: hidden;
  margin: 30px 15% 30px 15%;
}
main .uploadimg {
  width: 47%;
  height: 260px;
  background-color: #eee;
  display: inline-block;
  float: left;
}
main .uploadimg span {
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
main .uploadimgOdd {
  margin-right: 6%;
}
main .upload1 {
  background-image: url('https://pic.zizaihome.com/f7873d10-6726-11ea-b696-00163e060b31.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main .upload2 {
  background-image: url('../../../images/register/group2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main .upload3 {
  background-image: url('../../../images/register/group3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main .upload4 {
  background-image: url('../../../images/register/group4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main .tips {
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
}
main .tips .tips-content {
  padding-top: 10px;
  background-color: #eaf5ff;
  border: 1px solid #aad9ff;
}
main .tips p {
  color: #666;
  font-size: 18px;
}
input[type='checkbox'] {
  display: none;
}
label {
  color: #666;
  font-size: 18px;
  cursor: pointer;
}
label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('https://pic.zizaihome.com/48b7f3b0-64dd-11ea-b9dd-00163e060b31.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 4px;
  -webkit-transition: background ease-in 0.3s;
}
input[type='checkbox']:checked + label::before {
  background-image: url('https://pic.zizaihome.com/30655fe0-682b-11ea-a55c-00163e060b31.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.uploadSection {
  position: relative;
}
.agree_title {
  float: left;
  margin-top: 20px;
}
.tips-star {
  margin-left: 10px;
  font-weight: 1000;
  border-radius: 50%;
}
.next {
  margin-top: 80px !important;
}
