@color-1: #f5f5f5;
@color-2: #979797;
@color-3: #f8faf9;
@color-4: #71ba31;
@color-5: #eceef1;
@color-6: #dde4ec;
@color-7: #70ba2c;
@color-8: #e28830;

@border-1: 1px solid @color-2;
@border-2: 1px solid @color-5;
@border-3: 1px solid @color-6;

@size-100-100: 100% 100%;

@border-radius-1: 4px;
