.article {
  background-color: #ffffff;
  padding-top: 28px;
  padding-bottom: 21px;
}
.article .item {
  float: left;
  width: 50%;
  overflow: hidden;
}
.article .item img {
  float: left;
  width: 29%;
  margin-left: 10%;
  margin-top: 85px;
}
.article .item-content {
  float: left;
  width: 42%;
  margin-left: 11%;
}
.article .item-content .text-1 {
  font-size: 24px;

  line-height: 33px;
  color: #333;
  white-space: nowrap;
}
.article .item-content .text-2,
.article .item-content .text-3 {
  font-size: 16px;
  line-height: 32px;
  color: #989898;
  margin-top: 24px;
}
.article .item-content .text-3 {
  color: #6490c7;
}

@media (max-width: 500px) {
  .article {
    padding-top: 20px;
  }
  .article .item {
    width: 100%;
    margin-bottom: 30px;
  }
  .article .item img {
    width: 40%;
    margin-left: 30%;
    margin-top: 0;
  }
  .article .item-content {
    width: 100%;
    margin-left: 0;
  }
  .article .item-content .text-1 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.4;
  }
  .article .item-content .text-2,
  .article .item-content .text-3 {
    padding: 0 10%;
    font-size: 14px;
    margin-top: 15px;
  }
}
