.common-btn-1 {
  display: inline-block;
  width: 76px;
  height: 26px;
  line-height: 24px;
  border-radius: 13px;
  text-align: center;
  border: 1px solid #6490c7;
  color: #6490c7;
}
.common-btn-2 {
  display: inline-block;
  width: 148px;
  height: 34px;
  line-height: 34px;
  border-radius: 17px;
  text-align: center;
  font-size: 16px;
  background-color: #7caced;
  color: #ffffff;
}
.common-btn-1,
.common-btn-1:hover,
.common-btn-1:focus,
.common-btn-1:active {
  text-decoration: none;
  color: #6490c7;
}
.common-btn-2,
.common-btn-2:hover,
.common-btn-2:focus,
.common-btn-2:active {
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 500px) {
  .common-btn-1 {
    width: 70px;
    height: 22px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 12px;
  }
}
