/*页面公用*/
.content-container {
  padding: 20px;
  position: relative;
}

.content-container-inner {
  padding: 15px;
  min-width: 850px;
  min-height: 500px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

/*音乐play or pause*/
.play-or-pause {
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.play {
  background: url(../../../../images/common/play.png) no-repeat center / contain;
}
.pause {
  background: url(../../../../images/common/pause.png) no-repeat center /
    contain;
}
