.filter-1 {
  height: 40px;
  border-radius: 2px;
  background-color: #f8faf9;
  margin-top: 20px;

  .btn-group-1 {
    margin-left: 20px;
    margin-top: 4px;
  }

  .btn-group > .btn {
    width: 150px;
    height: 32px;
    border: none;
    text-align: right;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      box-shadow: none;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  .dropdown-menu a {
    cursor: pointer;
  }
}

.row-1 {
  width: 100%;
  display: table;
  padding: 12px 5px;

  .cell-1 {
    display: table-cell;
    text-align: center;
    width: 12%;
    vertical-align: middle;
  }

  .cell-1-name {
    position: relative;
    width: 16%;
    text-align: left;
    padding-left: 65px;
  }

  .image-1 {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .cell-1-handle {
    color: #71ba31;
  }

  .divider-1 {
    display: inline-block;
    height: 10px;
    border-left: 2px solid #dde4ec;
  }
}

.row-1-head {
  margin-top: 12px;
  font-size: 16px;
}

.icon-1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('https://pic.zizaihome.com/46fce4be-ec6a-11e8-8d64-00163e0c001e.png');
  background-size: 100% 100%;
  margin-left: 5px;
  margin-bottom: -1px;
  cursor: pointer;
}

.icon-2 {
  display: inline-block;
  width: 10px;
  height: 17px;
  background-image: url('https://pic.zizaihome.com/9749aa48-ee30-11e8-bd35-00163e0c001e.png');
  background-size: 100% 100%;
  margin-bottom: -3px;
  margin-left: 3px;
}

.list-1 {
  .row-1 {
    padding: 18px 5px;
    min-height: 86px;
  }

  .row-1:nth-child(odd) {
    background-color: #fff;
  }

  .row-1:nth-child(even) {
    background-color: #f8faf9;
  }
}

.page-1 {
  margin-top: 40px;
}
