.common-text-1 {
  font-size: 30px;

  line-height: 42px;
  color: #333;
}
.common-text-2 {
  font-size: 18px;
  line-height: 25px;
  color: #989898;
  margin-top: 20px;
}

@media (max-width: 500px) {
  .common-text-1 {
    font-size: 18px;
    line-height: 1.4;
  }
  .common-text-2 {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 10px;
  }
}
