.table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 20px;
  thead {
    border-bottom: 2px solid #d0cdc7;
  }
  thead th {
    padding: 10px 0;
    text-align: center;
  }
  tbody tr {
    border-bottom: 1px solid #d0cdc7;
  }
  tbody tr:nth-child(2n + 1) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(2n) {
    background-color: transparent;
  }
  tbody td {
    padding: 10px;
    text-align: center !important;
  }
  tbody tr td:nth-child(1) {
    text-align: left;
  }
  tbody tr td:nth-child(2) {
    text-align: left;
  }
}

.loading {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
