body {
  background-color: #f5f5f5;
}

.root-1 {
  padding: 12px 12px 50px 12px;
}

.intro-1 {
  position: relative;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 3px;
  padding: 24px 16px;
  overflow: hidden;

  .box-1 {
    position: relative;
    float: left;
    margin-top: 12px;
    padding-left: 64px;
    height: 56px;
  }

  .avatar-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 5px;
  }

  .text-1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 7px;
  }

  .text-2 {
    margin-top: 5px;
    color: #989898;
  }

  .box-2 {
    float: right;
    width: 145px;
    height: 80px;
    border: 1px solid #dde4ec;
    padding: 0 7px;
    margin-right: 5px;
  }

  .text-3 {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #dde4ec;
    color: #989898;
  }

  .text-4 {
    line-height: 44px;
    font-size: 24px;
    font-weight: bold;
  }
}

.filter-1 {
  height: 40px;
  border-radius: 2px;
  background-color: #f8faf9;
  margin-top: 20px;

  .btn-group-1 {
    float: left;
    margin-left: 20px;
    margin-top: 4px;
  }

  .btn-group > .btn {
    width: 150px;
    height: 32px;
    border: none;
    text-align: right;

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      box-shadow: none;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  .dropdown-menu a {
    cursor: pointer;
  }
}

.input-1 {
  width: 100%;
  height: 100%;
  padding: 0 10px;

  &::-webkit-input-placeholder {
    color: #989898;
  }
}

.time-1 {
  position: relative;
  float: left;
  width: 160px;
  height: 32px;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 10px;
  padding-right: 30px;
  margin-top: 4px;

  .icon-1 {
    position: absolute;
    right: 5px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-image: url('https://pic.zizaihome.com/7b743d64-ed55-11e8-bd35-00163e0c001e.png');
    background-size: 100% 100%;
  }
}

.row-1 {
  width: 100%;
  display: table;
  padding: 12px 5px;

  .cell-1 {
    display: table-cell;
    text-align: center;
    width: 16.6%;
    vertical-align: middle;
  }
}

.row-1-head {
  margin-top: 12px;
  font-size: 16px;
}

.icon-1 {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('https://pic.zizaihome.com/46fce4be-ec6a-11e8-8d64-00163e0c001e.png');
  background-size: 100% 100%;
  margin-left: 5px;
  margin-bottom: -1px;
  cursor: pointer;
}

.list-1 {
  .row-1 {
    padding: 18px 5px;
    min-height: 86px;
  }

  .row-1:nth-child(odd) {
    background-color: #fff;
  }

  .row-1:nth-child(even) {
    background-color: #f8faf9;
  }
}

.page-1 {
  margin-top: 40px;
}
