.dib {
  display: inline-block;
}
.csp {
  cursor: pointer;
}
.mgl25 {
  margin-left: 25px;
}
.navigateBar {
  padding: 10px 20px;
}

.navigateBar span {
  padding: 3px;
}

.smallHouse {
  background-image: url('../../../../images/buddhist/smallHouse.png');
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.navigateBar span:first-child {
  margin-right: 5px;
  margin-bottom: 5px;
}
.scrollModal {
  overflow: scroll !important;
}
