a {
  color: #5a5a5a;
  text-decoration: none;
}
/* 重置toastr 样式 */
#toast-container > div {
  /* width: 350px; */
  width: 533px;
  height: 250px;
  background-color: #ffff;
  color: #606060;
  font-size: 18px;
}
.toast-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.toast-close-button {
}
