a {
  color: #5a5a5a;
  text-decoration: none;
}
/* 重置toastr 样式 */
#toast-container > div {
  /* width: 350px; */
  width: 533px;
  height: 250px;
  background-color: #ffff;
  color: #606060;
  font-size: 18px;
}
.toast-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}

.toastr-icon-off {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('https://pic.zizaihome.com/431e21f6-e59c-11e9-a4fd-00163e060b31.png');
  background-repeat: no-repeat;
  background-position: center;
}
