body {
  background-color: #f5f5f5;
}

.root-1 {
  padding: 25px 12px 50px 12px;
}

.nav-1 {
  width: 100%;
  padding-left: 5px;
  overflow: hidden;

  .item-1 {
    display: block;
    float: left;
    font-size: 18px;
  }

  a {
    color: #87c452;
  }

  .divider-1 {
    float: left;
    display: inline-block;
    width: 9px;
    height: 17px;
    background-image: url('https://pic.zizaihome.com/af675204-eca7-11e8-8d64-00163e0c001e.png');
    background-size: 100% 100%;
    margin: 3px 8px 0 8px;
  }
}

.summary-1 {
  margin-top: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff;

  .inner-1 {
    padding: 20px 10px 0 10px;
  }

  .text-1 {
    font-size: 16px;
  }

  .text-2 {
    font-size: 16px;
    color: #989898;
    margin-top: 6px;
  }

  .c-switch {
    font-size: 14px;
    margin-bottom: -6px;
  }
}

.nav-2 {
  margin-top: 50px;
  height: 38px;

  .item-2 {
    width: 150px;
    float: left;
    line-height: 37px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    &.active {
      color: #71ba31;
      border-bottom: 2px solid #71ba31;
    }
  }
}
